/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.adverb {
  background: #c4e3f3;
}

.you {
  background: #b4e77d;
}

.we {
  background: #a4e77d;
}

.qualifier {
  background: #c4e3f3;
}

.passive {
  background: #c4ed9d;
}

.complex {
  background: #e3b7e8;
}

.hardSentence {
  background: #f7ecb5;
}

.veryHardSentence {
  background: #e4b9b9;
}

#text-area,
#output {
  width: 100%;
}

#left {
  width: 75%;
  position: absolute;
  left: 2.5%;
}
#right {
  width: 20%;
  position: absolute;
  right: 2.5%;
}

.counter {
  position: relative;
  padding: 5% 5%;
  margin: 5% 0 0 5%;
  border-radius: 8px;
}
