.adverb {
  background: #c4e3f3;
}

.score {
  background: #ffcc00;
}

.you {
  background: #00ffff;
}

.goodwords {
  background: #1234ff;
  color: #fff;
}

.we {
  background: #00ff00;
}

.exclaim {
  background: #000080;
  color: #fff;
}

.qualifier {
  background: #c4e3f3;
}

.passive {
  background: #008080;
  color: #fff;
}

.complex-tab {
  background: #e3b7e8;
}

.complex {
  background: #e3b7e8;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.complex .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.complex:hover .tooltiptext {
  visibility: visible;
}

.hardSentence {
  background: #f7ecb5;
}

.veryHardSentence {
  background: #e4b9b9;
}

#text-area,
#output {
  width: 100%;
  text-align: left;
  padding: 5% 5%;
}

.counter {
  padding: 5% 5%;
}
